
  <div class="col-md-8 container">
    
    <nb-card id="print-section">
      
      <nb-card-body >
        <h6><h3 class="text-danger">Intervention form</h3>
        </h6>
        <div class="container">
          <div class="col-sm-4">
             
            <div class="container form-group">
             
              <br/>
              <label clas="label">Name of Intervent:</label >
              <div class="col-sm-9">
                .................................................................................
              </div>
              
              <br/>
              <label clas="label" >Date of Intervention:</label >
              <div class="col-sm-9">
                .................................................................................
              </div>
              <br/>
              <label clas="label" >Machine:</label >
              <div class="col-sm-9">
                .................................................................................
              </div>
              <br/>
              <label clas="label" >Department:</label >
              <div class="col-sm-9">
                .................................................................................
              </div>
              <br/>
              <label clas="label" >Acctual Duration:</label >
              <div class="col-sm-9">
                .................................................................................
              </div>
              <br/>
              <label clas="label" >Type of Intervention:</label >
              <div class="col-sm-9">
                
                  <nb-checkbox>Corrective</nb-checkbox>
                  <nb-checkbox>Preventive</nb-checkbox>
                
              </div>
              <br/>
              <label clas="label" >Name of the Agent:</label>
              <div class="col-sm-9">
                .................................................................................
              </div>
              <br/>
              <label clas="label" >Manager:</label>
              <div class="col-sm-9">
                .................................................................................
              </div>
              <br/>
              <label clas="label" >Predicted Duration:</label >
              <div class="col-sm-9">
                .................................................................................
              </div>
              
              <br/>
              <label clas="label" >Equipement Used:</label >
              <div class="col-sm-9">
                .................................................................................
              </div>
              <br/>
              <label clas="label" >Status:</label >
              <div class="col-sm-9">
                <nb-radio-group>
                  <nb-radio>Done</nb-radio>
                  <nb-radio>Not Done</nb-radio>
                </nb-radio-group>
              </div>
              <br/>
              <div class="signature">
              <label clas="label" class="text-danger center">Signature:</label >
              <div class="col-sm-9">
                .................................................................................
              </div>
            </div>
            
            </div>
          </div>
        </div>
        
      </nb-card-body>
    
    </nb-card>
    <button nbButton status="primary" printSectionId="print-section" ngxPrint   ghost>Print</button>
     
  </div>
 
  
 