<div class="row">
 
  <div class="col-lg-6">
    <nb-card>
      
      <nb-card-body>
        <h6>Correction Action Duration over Total Actions Chart
        </h6>
        <ngx-echarts-bar></ngx-echarts-bar>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      
      <nb-card-body>
        <h6>Prevention Actions Duration Over Total Actions Chart
        </h6>
        <ngx-echarts-bar2></ngx-echarts-bar2>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
     
      <nb-card-body>
        <h6>Cost Preventive Action Over Total Actions Chart
        </h6>
        <ngx-echarts-bar3></ngx-echarts-bar3>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      
      <nb-card-body>
        <h6>Cost Part Pieces Over Cost Workers Chart
        </h6>
        <ngx-echarts-bar4></ngx-echarts-bar4>
      </nb-card-body>
    </nb-card>
  </div>

  </div>

