<div #content>
<nb-card>
    
  
    <nb-card-body>
      <h6>
        Quality Table
      </h6>
    <p>0 < Quality < 0.5 : Very bad Quality of the machine</p>
    <p>0.5 < Quality < 0.65 : Bad Quality of the machine, and the machine need a prevention program</p>
    <p>0.65 < Quality < 0.9  : Good Quality of the machine and it needs a controle </p>
    <p>0.9 < Quality < 1 : Very good Quality of the machine</p>
    <br>
      <button nbButton status="danger" (click)="downloadPDF()" ghost>Pdf</button>
    <button nbButton status="danger" (click)="exportexcel()" ghost>Excel</button>
      <ng2-smart-table [settings]="settings" [source]="source" id="tab" >
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
</div>
