<nb-card>
  

  <nb-card-body>
    <h6>
      Project Table
    </h6>
    <button nbButton status="danger" (click)="downloadPDF()" ghost>Pdf</button>
    <button nbButton status="danger" (click)="downloadCSV()" ghost>CSV</button>
    <button nbButton status="primary" printSectionId="print-section" ngxPrint  ghost>Print</button>
    
    <ng2-smart-table [settings]="settings" [source]="source" id="print-section" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)" (createConfirm)="onCreateConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
