<div #content>

<nb-card >
  

  <nb-card-body>
    <h6>
      Spare Parts Inventory Table
    </h6>
        <button nbButton status="danger" (click)="downloadPDF()" ghost>Pdf</button>
        <button nbButton status="danger" (click)="downloadCSV()" ghost>CSV</button>
        <button nbButton status="primary" printSectionId="print-section" ngxPrint  [useExistingCss]="true" ghost>Print</button>
      

        <button nbButton status="danger" (click)="exportexcel()" ghost>Excel</button>
    <ng2-smart-table [settings]="settings" [source]="source"   id="print-section" >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>


 </div>