<nb-card size="large">
  <nb-tabset fullWidth>

    <nb-tab tabTitle="Company Identification Data">

      <h5 class="text-heading">GTS Telecom</h5>
         <div class="item text-basic">
            <div class="color bg-status-danger"></div>
            <div>
              <h5 class="text-basic">Adress:</h5>
              92-96 Izvor Street, 2nd Floor, Sector 5
            </div>
          </div>
      <div class="item text-basic">
            <div class="color bg-status-danger"></div>
            <div>
              <h5 class="text-basic">Locality:</h5>
              Bucharest
            </div>
          </div>
          <div class="item text-basic">
            <div class="color bg-status-danger"></div>
            <div>
              <h5 class="text-basic">Postal code:</h5>
              050564
            </div>
          </div>
           <div class="item text-basic">
            <div class="color bg-status-danger"></div>
            <div>
              <h5 class="text-basic"> Commercial Registry:</h5>
              J40 /19010 /1993
            </div>
          </div>
           <div class="item text-basic">
            <div class="color bg-status-danger"></div>
            <div>
              <h5 class="text-basic">CUI:</h5>
              RO4419886
            </div>
          </div>
          <div class="item text-basic">
            <div class="color bg-status-danger"></div>
            <div>
              <h5 class="text-basic">Social Capital:</h5>
              RON 7,368 mil
            </div>
          </div>
     
        





    

      
    </nb-tab>

   
  </nb-tabset>
</nb-card>
