<nb-card size="large">
  <nb-tabset fullWidth>

    <nb-tab tabTitle="Company Identification Data">

      <h5 class="text-heading">CMMS TEAM BASH</h5>
         <div class="item text-basic">
            <div class="color bg-status-danger"></div>
            <div>
              <h5 class="text-basic">Adress:</h5>
              Lac Vicoria, 12 Les Berges du Lac, Immeuble Alfonse Bloc B
            </div>
          </div>
      <div class="item text-basic">
            <div class="color bg-status-danger"></div>
            <div>
              <h5 class="text-basic">Locality:</h5>
              Tunis
            </div>
          </div>
          <div class="item text-basic">
            <div class="color bg-status-danger"></div>
            <div>
              <h5 class="text-basic">Postal code:</h5>
              5064
            </div>
          </div>
           <div class="item text-basic">
            <div class="color bg-status-danger"></div>
            <div>
              <h5 class="text-basic"> Commercial Registry:</h5>
              B021651215161
            </div>
          </div>
           
          <div class="item text-basic">
            <div class="color bg-status-danger"></div>
            <div>
              <h5 class="text-basic">Social Capital:</h5>
             1000.000 TND
            </div>
          </div>
     
        





    

      
    </nb-tab>

   
  </nb-tabset>
</nb-card>
